# Ignore Digital Garden secrets
.obsidian/plugins/digitalgarden/data.json

# Ignore workspace and settings files
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/obsidian-git/data.json

# Ignore Obsidian trash folder
.trash/
